{% extends "layout.html" %}
{% block content1 %}
	<div class="middle_allign">
		<img src ="../static/imgs/no_bg.png" alt="App logo" >
	</div>
{% endblock content1 %}

{% block content %}
	<div>
		<img src ="../static/imgs/blank.png" alt="blank" >
	<font size="4">
        <center><p class="middle_allign content-section ">Designed for <b>Students</b> who want to build their dreams</p></center>
		<center><p class="content-section middle_allign">A tool for <b>Companies</b> to raise their profit</p></center>
		<center><p class="content-section middle_allign">Everything based on <b>Credibility</b> and <b>Trust</b></p></center>	
	</font>
	</div>		
{% endblock content %}

