{% extends "layout.html" %}

{% block content1 %}	
		  {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			  {% for category, message in messages %}
				<div class="alert alert-{{ category }}">
				  {{ message }}
				</div>
			  {% endfor %}
			{% endif %}
		  {% endwith %}
		<center><h3>Active Posts</h3>    </center>     
		{% for post in posts %}
		<article class="media content-section">
		  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="#">{{ post.author.username }}</a>
			  <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
			  <b style="float:right;">TRUST: {{post.author.scor}}</b>
			</div>
			<div class="sum"><a class="article-sum" href="{{ url_for('post', post_id=post.id) }}"><strong>{{ post.sum }} lei</strong>	</a></div>
			<div class="paydate"> <i>paydate: {{post.payDate}}</i></div>
			<br>
			<div class="interest"> <strong> INTEREST:{{post.interest}}% </strong></div>
		  </div>
		</article>
		{% endfor %}
{% endblock content1 %}

{% block content %}	
		<center><h3>Top Users</h3>    </center>          
			  
		{% for user in users %}
		{% if user.username != 'Admin'%}
		{% if user.scor != 0%}
		<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" >{{ user.username }}</a>
			  <b style="float:right;">TRUST: {{user.scor}}</b>
			</div>			
		</div>
		</article>
		{% endif %}
		{% endif %}
		{% endfor %}
{% endblock content %}
